/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.test {
    /* color: #f7f3ea; */
    /* background-color: #e8ffda; */
    display: grid;
    overflow: hidden;
    
    /* background-color: #f6f0e147; */
    background-color: #51ad44; /* primary */
    color: #0e5808;
    justify-self: center;
    font-size: small;
    overlay: auto;
    overscroll-behavior-block: none;
    position: -ms-page;
    word-break: break-all;
    
}